src/main/resources/Mt2XmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="block1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="applicationId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[AFL]"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="serviceId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="logicalTerminal">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z0-9]{12}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="sessionNumber">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{4}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="sequenceNumber">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{6}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="block2" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="messageType" type="xs:string"/>
                            <xs:element name="receiverAddress" type="xs:string" minOccurs="0"/>
                            <xs:element name="senderAddress" type="xs:string" minOccurs="0"/>
                            <xs:element name="senderInputTime" type="xs:string" minOccurs="0"/>
                            <xs:element name="MIRDate" type="xs:string" minOccurs="0"/>
                            <xs:element name="MIRLogicalTerminal" type="xs:string" minOccurs="0"/>
                            <xs:element name="MIRSessionNumber" type="xs:string" minOccurs="0"/>
                            <xs:element name="MIRSequenceNumber" type="xs:string" minOccurs="0"/>
                            <xs:element name="sessionNumber" type="xs:string" minOccurs="0"/>
                            <xs:element name="sequenceNumber" type="xs:string" minOccurs="0"/>
                            <xs:element name="receiverOutputDate" type="xs:string" minOccurs="0"/>
                            <xs:element name="receiverOutputTime" type="xs:string" minOccurs="0"/>
                            <xs:element name="messagePriority" type="xs:string" minOccurs="0"/>
                            <xs:element name="deliveryMonitoring" type="xs:string" minOccurs="0"/>
                            <xs:element name="obsolescencePeriod" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="type" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="input"/>
                                    <xs:enumeration value="output"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="block3" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tag" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z0-9]{1,3}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="value">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="64"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="block4">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="field" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9A-Z]{2,5}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="component" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="number" use="required">
                                                            <xs:simpleType>
                                                                <xs:restriction
                                                                        base="xs:positiveInteger"/>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="block5" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tag" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z0-9]{1,3}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="value">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="64"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
